body,
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

body.notDefined {
  opacity: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a.material-icons {
  text-decoration: none;
}

a.icon-link {
  color: currentColor;
}

#wrapper {
  width: 100%;
}

/* Spinner and Error Message */
.spinner-wrapper,
.message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.message-wrapper {
  flex-direction: column;
  color: #637282;
  text-align: center;
}

.message-wrapper .message-icon {
  font-size: 3rem;
  color: #637282;
  margin-bottom: 2rem;
}

.message-wrapper .message-text {
  font-size: 1rem;
  color: #637282;
  font-weight: 300;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #3bc1fd;
  }
  25% {
    stroke: #dc3545;
  }
  50% {
    stroke: #fd7d44;
  }
  75% {
    stroke: #28a745;
  }
  100% {
    stroke: #2f5be7;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dark {
  background-color: #222;
}
.login-card {
  width: 400px;
  margin: 0 auto;
}

.login-card-content {
  padding: 1rem;
}

.text-field {
  width: 100%;
  margin-bottom: 1rem;
}


.text-field .mdc-notched-outline .mdc-notched-outline__leading {
  width: 28px;
}

.text-field.text-field--textarea .material-icons {
  top: 16px;
}

/* the border around the input fields */
.text-field .mdc-notched-outline .mdc-notched-outline__leading,
.text-field .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0;
}

.login-card .login-button {
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 28px;
}

/* Drawer and Navbar */
body {
  display: flex;
  height: 100vh;
}

body.center-content {
  justify-content: center;
  align-items: center;
}

.mdc-top-app-bar--fixed-adjust {
  flex: auto;
  overflow: auto;
  position: relative;
  display: flex;
  height: 100%;
  padding-top: 64px;
}
.mdc-drawer {
  z-index: 3;
}
#main-content {
  overflow: auto;
  height: 100%;
  padding: 1rem;
  width: 100%;
}
.card__content {
  padding: 1rem;
}
.card__title {
  margin: 0;
}
.card__subtitle {
  margin-top: 0;
}
.card__subtitle,
.card__text {
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}
.card__subtitle.card__subtitle--with-icon {
  display: flex;
  align-items: center;
}

.card__subtitle.card__subtitle--with-icon .material-icons {
  margin-right: 1rem;
}

.card__subtitle.card__subtitle--no-spacing {
  margin-bottom: 0;
}

.item-count {
  text-align: center;
  margin: 0;
}

.sections-list,
.event-list,
.instructor-list,
.material-list,
.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.event-list,
.instructor-list,
.material-list,
.project-list {
  align-items: baseline;
}

.section-card {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.stack-card {
  min-width: 275px;
}

.event-card {
  margin: 1rem;
  width: 320px;
}

.page-primary-action {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.tagging {
  display: inline-flex;
  border-radius: 15px;
  font-size: 12px;
  padding: 0 0.8rem;
  max-width: 100px;
  text-align: center;
  height: 24px;
  line-height: 24px;
}
.intermediate {
  background-color: rgba(47, 231, 177, 0.2);
  color: #3bc1fd;
}
.beginner {
  background-color: rgba(0, 255, 133, 0.2);
  color: #4aa277;
}
.expert {
  background-color: rgba(253, 125, 68, 0.2);
  color: #fd7d44;
}

.form-dialog .mdc-dialog__surface {
  width: 500px;
}

.form-dialog .mdc-dialog__content {
  padding-top: 1rem;
}

.image-preview {
  max-height: 200px;
}
.image-preview .material-icons {
  color: rgba(0, 0, 0, 0.87);
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
  font-size: 48px;
  z-index: 10;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.image-preview .image-upload-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  padding: 2rem 0.5rem 0.5rem;
  background: linear-gradient(145deg, #6200ee00, #6200ee50);
  z-index: 10;
}

.image-preview .image-upload-icon::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.image-preview .image-file-upload {
  display: none;
}

.image-upload-progress-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 16px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  transition: opacity 0.2s ease-out;
  z-index: 30;
}

.image-upload-progress-wrapper.active {
  opacity: 1;
}

.image-upload-progress-text {
  margin-bottom: 1rem;
}

.search-bar {
  width: 100px;
  background: white;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.small-spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #6200ee;
  border-color: var(--mdc-theme-primary, #6200ee);
  border-bottom-color: transparent;
  animation: rotate 1.4s linear infinite;
  display: inline-block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.onboarding-page {
  display: none;
}

.onboarding-page--active {
  display: block;
}

.onboarding-page--active.onboarding-page--flex {
  display: flex;
}

.category-info-card {
  border-radius: 16px;
  overflow: hidden;
  max-width: 950px;
  margin: 48px auto;
}

.category-card-content {
  display: flex;
}

.category-card-content__left {
  flex-basis: 33%;
}
.category-card-content__right {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.category-member-list {
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  height: 550px;
  overflow: auto;
  padding-bottom: 32px;
}

.category-member-details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 16px;
}

.member-actions {
  display: flex;
  justify-content: flex-end;
}

.member-actions__item {
  margin-right: 16px;
}

.member-actions__item--delete {
  background-color: var(--mdc-theme-error);
}

.category-member-list__item .mdc-list-item__meta {
  visibility: hidden;
}

.category-member-list__item.mdc-list-item--activated .mdc-list-item__meta {
  visibility: visible;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 0px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.top-panel__left {
  display: flex;
  align-items: center;
}

.email-compose {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: scale(1.3);
  transition: 300ms ease-out;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 16px 16px;
  background-color: white;
  /* z-index: 1; */
}

.email-compose--active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.email-compose__textarea {
  width: 100%;
  flex: 1;
  min-height: 250px;
}

.email-compose__textarea textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.email-compose__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
}

.email-compose__action:not(:last-of-type) {
  margin-right: 16px;
}
